.DS_Store
miniconda3
bundle/site-packages/platform/*
!bundle/miniconda.package/packages/README
settings.json
*.pyc
*.exr
*.png
flameTimewarpML.package
flameTimewarpMLenv.tar.bz2
flameTimewarpML.bundle.tar
test_*
trained_models.all/*
!trained_models.all/README
