.DS_Store
miniconda3
bundle/miniconda.package/Miniconda*
bundle/miniconda.package/packages/*
bundle/bin/*
!bundle/miniconda.package/packages/README
settings.json
*.pyc
*.exr
*.png
flameTimewarpML.package
flameTimewarpMLenv.tar.bz2
test_*
